.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 1012px;
    margin: 0 auto;
    padding: 45px 0;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px 0;
    }
}

pre code.hljs {
    padding: 0
}

.mermaid-container>pre>svg {
    height: auto !important;
}

.wy-nav-content {
    max-width: 1200px !important;
}

.highlight-endpoint span.l {
    color: red;
}

.wy-table-responsive table td,
.wy-table-responsive table th {
    white-space: normal !important;
}

.rst-content code.default {
    font-weight: bold;
}

/* remove ugly padding in dropdowns containing highlighted code */
.rst-content div.sd-summary-content:has(> div[class^="highlight"]) {
    padding: 0 !important;
}

.rst-content div.sd-summary-content div[class^="highlight"] {
    margin: 0 !important;
    border: 0 !important;
}
