.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 1012px;
    margin: 0 auto;
    padding: 45px 0;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px 0;
    }
}

pre code.hljs {
    padding: 0
}
